.address-block {
  & > .field {
    display: flex;
    height: 100%;
    align-items: center;
    & > div {
      margin-right: .5rem;
    }
    p {
      margin-bottom: 0;
    }
    i {
      font-size: 3rem;
    }
  }
}

.phone-block {
  & > .field {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    & > div {
      display: flex;
      & > p {
        margin-right: .5rem;
      }
    }
    &:last-child {
      span {
        font-size: .7rem;
        color: grey;
      }
    }
    p {
      margin-bottom: 0;
    }
    i {
      font-size: 2rem;
    }
    a {
      color: $green;
      text-decoration: none;
    }
  }
}

.header-button {
  & > .field {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
  }
  a {
    display: inline-block;
    font-weight: 300;
    padding: 0 3rem;
    color: white;
    font-size: 1.5rem;
    line-height: 4rem;
    border-radius: 5px;
    background-color: $red;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    box-shadow: 0px 15px 10px -10px rgb(13 12 12 / 20%);
    text-decoration: none;
    &:hover {
      background-color: #dbb56e;
    }
  }
}