.field--name-field-files,
.field--name-field-related-events,
.field--name-field-upload,
.field--name-field-related-files {
  .field__label {
    background-color: $light-green;
    position: relative;
    font-size: $h4-font-size;
  }
}

.field--name-field-files {
	.table {
		td {
			border: none;
		}
	}
}
.field--name-field-upload {
  .table {
    margin-bottom: 30px;
    & > :not(caption) > * > * {
      border: none;
    }
  }
}
.file {
	color: $blue;
	background: none;
	display: flex;
	align-items: center;
  padding-left: 0;
  .svg-inline--fa {
    height: 2em;
    margin-right: 1em;
  }
	a {
		text-decoration: none;
		font-size: $p-font-size;
		&:hover {
			text-decoration: underline;
		}
	}
}

.field--name-field-event-start-date,
.field--name-field-event-end-date,
.field--name-field-event-location,
.field--name-field-event-meeting-organiser,
.field--name-field-event-telephone,
.field--name-field-event-email,
.field--name-field-event-attendees {
  margin-bottom: 20px;
}

.event-wrapper {
  .field--name-body,
  .field--name-field-event-reference {
    background-color: #f7f6f6;
    padding: 20px 10px;
    margin-bottom: 15px;
  }
}

.right-hand-area {
  background-color: #ebebeb;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
}

.field--name-field-printer-friendly button,
.download-all-files {
  margin: 3rem 0;
}

.download-all-files {
  align-items: center;
  white-space: nowrap;
}

.related-modifications {
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px 10px;
  }
  tr {
    &:first-child {
      font-weight: bold;
      background-color: $greylight;
      td {
        background-color: $greylight;
      }
    }
  }
  p {
    margin-bottom: 0;
  }
}






