header .navbar {
  background-color: $purple;
}

.region-footer-left,
.region-footer-bottom {
  display: flex;
  flex-basis: 100%;
  justify-content: flex-end;
  flex-direction: column;
}
@include media-breakpoint-up(lg) {
  .region-footer-left,
  .region-footer-bottom {
    flex-direction: row;
  }
}

.region-content {
  padding-left:0;
  padding-right:0;
}
.region-nav-branding {
  align-items: center;
}

// Needed to make the footer stick to the bottom of the page
.mm-page {
  height:100%;
}

.node__links {
  .inline {
    li {
      padding-left: 0;
    }
  }
}